name: build

on: workflow_dispatch

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: install-depedencies
        run: brew update && brew install grpc

      - name: cmake-configure
        run: cmake -B build -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON

      - name: cmake-build
        run: cmake --build build
